-# .container 
-#   .comment
-#     .comment-header
-#       = link_to root_path do
-#         = image_tag 'return.svg', class: 'return-btn' 
-#     %p.comment-title Comment 

-#   .timeline
-#     .comments-container{id: @timeline.id}

-#     .comment-create
-#       .comment-text-area 
-#         = text_area_tag :comment_content, '', class: 'sm'