.comment-header {
    
}

.comment-return-btn {
    margin-top: 52px;
    cursor: pointer;
}

.comment-title {
    text-align: center;
    margin-top: -23px;
    margin-bottom: 52px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

.comment-create {
    position: relative;
}

.comment-text-area {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

    .sm {
        // background: #FFFFFF;
        // box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
        width: 100%;
        height: 42px;
        border: none;
    }

    textarea {
        
    }
}

.timeline_comment {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;

    p {
        margin-top: 6px;
        margin-bottom: 0;
    }
}

.comment-create {
    position: relative;
}

.create-comment-btn {
    position: absolute;
    width: 30px;
    right: 10px;
    bottom: -35px;
    cursor: pointer;
}

.comment-user-image {
    display: flex;
    img {
        width: 32px;
        height: 32px;
        border-radius: 100%;
    }
}

.comment-card {
    display: flex;
    margin-bottom: 40px;
}

.user-status {
    margin-top: -22px;
    margin-left: 14px;
}

.comment-user-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 6px;

    p {
        margin-bottom: 0;
    }
}

.timeline_comment_delete {
    float: right;
    margin-top: -88px;
    cursor: pointer;
}