
.profilePage_user {

    &_account {
        align-items: center;
        margin-top: -46px;

        p {
            text-align: center;
            height: 24px;
            font-style: normal;
            font-size: 16px;
            line-height: 24px;
            color: #333A42;
            margin-bottom: 35px;
        }
    }

    &_image {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 46px;

        .avatar-image {
            width: 76.88px;
            height: 76.88px;
            border-radius: 100%;
        }
    }

    &_have {
        display: flex;
        justify-content: space-evenly;
        margin-left: 27px;

        &_item {
          .count {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px; 
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            color: #333A42;
          }

          .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #9E9E9E;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
          }
        }
    }
}



